body{margin:0;font-family:Tahoma;background:#b99264 }

::selection {background:#835432;color:#fff;}
::-moz-selection {background:#835432;color:#fff;}

#RMweb{width:1000;}
#main-back{width:1000;direction:rtl;float:right;background:#cdad87}
a{TEXT-DECORATION: none;color:#000000}
a:hover{color:#000000}

#header{background: url('https://sadeghi55-football.github.io/my-blog-assets/header.jpg') no-repeat;width:100%;height:400;color:#838383;font-size:8pt;text-align:right}
#header a{color:#1c1b1b;margin:0 10;font-weight:bold;}
#header a:hover{color:#9a7022}

.Sid{padding:0 15 0 0;}
.main{padding:0 10 0 0;}

.wellcome{width:880;position:absolute;height:30;Padding:399 90 0 0;color:#1c1b1b;font-size:8pt;display:none}

.menu{width:100%;position:absolute;padding:365 10 0 0;}

.TopBlogTitle{width:1000;position:absolute;text-align:center;color:#1c1b1b;padding:10 60 0 0;}

.BlogTitle{padding:0 0 0 0;font-size:14pt;font-weight:bold;}
.Description{padding:10 0 0 0;font-size:9pt;}


#Post{float:right;direction:rtl;text-align:right;width:540;overflow:hidden;display:none0;}
.TopPost{width:530;height:80;background:url('https://sadeghi55-football.github.io/my-blog-assets/post1.png') no-repeat top right;font-size:8pt;}
.TopPost a{color:#1c1b1b}
.TopPost2{padding:33 65 4 10;}
.CenterPost{padding:10 15 5 15;background:url('https://sadeghi55-football.github.io/my-blog-assets/post2.png') repeat-y right;margin:0 0}
.LowPost{width:530;height:80;background:url('https://sadeghi55-football.github.io/my-blog-assets/post3.png') no-repeat top right;font-size:8pt;}
.Comment{padding:43 58 0 0;text-align:right;font-size:8pt;width:100%;color:#1c1b1b}
.Comment a{color:#1c1b1b}
.Comment a:hover{color:#9a7022}

.Post-title{padding-bottom:19;font-weight:bold}
.C-post{font-size:9pt;color:#333333;width:530;overflow:hidden}
.C-post a{color:#9a7022}


#Sidebar{float:right;direction:rtl;text-align:right;width:220;display:none0;}

.TopSid{width:210;height:70;background:url('https://sadeghi55-football.github.io/my-blog-assets/2sid1.png') no-repeat top right;font-size:8pt;color:#1c1b1b;font-weight:bold;}
.TopSid2{padding:36 55 0 0;text-align:right}

.CenterSid{width:210;font-size:8pt;color:#444444;background:url('https://sadeghi55-football.github.io/my-blog-assets/2sid2.png') repeat-y top right;padding:2 0}
.CenterSid a{color:#444444;}
.CenterSid a:hover{color:#00aa00}
.li-Sid{padding:1 20 5 5;background:url('https://sadeghi55-football.github.io/my-blog-assets/li.png') 194px 5px no-repeat;}
.About{padding:0 15 0 15;color:#555555;line-height:120%}
.LowSid{width:210;height:22;background:url('https://sadeghi55-football.github.io/my-blog-assets/2sid3.png') no-repeat top right;}


#TopSidebar{float:right;width:100%;display:none0;}
.TopSid-Top{float:right;width:320;margin:0 10 0 0 ;}

.TopSidBack-Top{width:320;height:70;background:url('https://sadeghi55-football.github.io/my-blog-assets/2sidtop1.png') no-repeat right;font-size:8pt;color:#1c1b1b;font-weight:bold;}
.TopSidFont-Top{padding:35 125 0 0;text-align:right}

.CenterSid-Top{width:320;height:130;font-size:8pt;color:#444444;background:url('https://sadeghi55-football.github.io/my-blog-assets/2sidtop2.png') repeat-y right;padding:2 0;text-align:right}
.CenterSid-Top a{color:#444444;}
.CenterSid-Top a:hover{color:#9a7022}
.li-Sid-Top{padding:1 20 5 5;background:url('https://sadeghi55-football.github.io/my-blog-assets/li.png') 303px 5px no-repeat;}
.LowSid-Top{width:320;height:22;background:url('https://sadeghi55-football.github.io/my-blog-assets/2sidtop3.png') no-repeat right;}


#TopSidebarTwo{float:right;width:100%;display:none;}
#SidebarTwo{float:right;direction:rtl;text-align:right;width:270;display:none;}


.footer{width:100%;height:100;float:left;background: url('https://sadeghi55-football.github.io/my-blog-assets/footer2.png') no-repeat;direction:rtl;}
.footer a{color:#1c1b1b}
.footer  a:hover{color:#9a7022}
.Fo1{font-size:8pt;text-align:center;padding:65 0 0 0;color:#1c1b1b}
